*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; /*ALIGN ITEMS SE USA PARA CENTRAR ELEMENTOS EN VERTICAL*/
}

/*EL HEADER LO VOY A USAR PARA SIMULAR LOS BOTONES SUPERIORES DE LA CONSOLA Y EL REGULADOR DE VOLUMEN*/

header{
    width: 75%;
    display: flex;
    flex-direction: row;
    border: solid green;
    margin-top: 4em;
}

/*EL SECTION LO VOY A USAR PARA HACER LA PROPIA CONSOLA*/
section{
    width: 75%;
    display: flex;
    flex-direction: row;
}

#joyconAzul{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #02BFDF;
    padding-bottom: 25em;
}

.parteSuperior{
    width: 100%;
    height: 15%;
    display: flex;
    border: solid;
}

#menos{
    
}

.parteCentralSuperior{
    width: 100%;
    height: 25%;
    display: flex;
    border: solid;
}

.parteCentralInferior{
    width: 100%;
    height: 25%;
    display: flex;
    border: solid;
}

.parteInferior{
    width: 100%;
    height: 35%;
    display: flex;
    border: solid;
}

/*TODO ESTE RECUADRO REPRESENTA LO QUE SON LOS MARQUITOS DE LA PANTALLA Y LA PROPIA PANTALLA*/

#pantalla{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323537;
    justify-content: center;

}

#marcoNegro{
    width: 95%;
    height: 97%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 1% 1% 1% 1%;

}

#screen{
    width: 88%;
    height: 88%;
    background-color: #26282C;
}

#joyconRojo{
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #FE5F52;
}
